extend layout
block content
  body
    .container
      h1 Describe your programming problem

      form.form-horizontal(method='post', action='/submitQuestion', novalidate)
        .modal-body
          // Title
          .control-group
            label.control-label(for='title') Title
            .controls
              input#title.form-control(type='text', size='100', name='title', required='required')
                
          // Message 
          .control-group
            label.control-label(for='question') Problem
            .controls
              textarea#question.form-control(name='problem', rows='5', cols='150', required='required')
         
          // Input 
          .control-group
            label.control-label(for='input') Inputs
            .controls
              input#input.form-control(type='text', size='100', name='input')
        
          // Output 
          .control-group
            label.control-label(for='output') Outputs
            .controls
              input#output.form-control(type='text', size='100', name='output')

        .modal-footer
          .form-actions
            button.btn.btn-primary(type='submit')
              | Submit
              i.icon-ok.icon-white