// Login Modal 
#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#loginModalLabel.modal-title Sign In

      // Login Form 
      form.form-horizontal(method='post', action='/logon', novalidate='novalidate')
        .modal-body
        
          // Username
          .control-group
            label.control-label(for='username') Username
            .controls
              input#username.form-control(name='username', required='required')
              
          // Password 
          .control-group
            label.control-label(for='password') Password
            .controls
              input#password.form-control(type='password', name='password', required='required')

        // Footer
        .modal-footer
          .form-actions
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit')
              | Login
              i.icon-ok.icon-white
