// Login Modal 
#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4#loginModalLabel.modal-title Sign In

      .modal-body
        // Login Form 
        form.form-horizontal(method='post', action='/logon', novalidate='novalidate')
        
          // Email 
          .control-group
            label.control-label(for='username') Email address
            .controls
              input#email(type='email', name='username', required='required')
              
          // Password 
          .control-group
            label.control-label(for='password') Password
            .controls
              input#password(type='password', name='password', required='required')

      // Modal Body 
      .modal-footer
        .form-actions
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit')
            | Login
            i.icon-ok.icon-white