<!DOCTYPE html>
<html>
  
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="loginModalLabel">Sign In</h4>
        </div>
        
        <!-- Login Form -->
        <form class="form-horizontal" method="get" action="/logon" novalidate>
          <div class="modal-body">
            
            <!-- Email -->
            <div class="control-group">
              <label class="control-label" for="username">Email address</label>
              <div class="controls">
                <input type="email" name="username" id="email" required>
              </div>
            </div>
            
            <!-- Password -->
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" name="password" id="password" required>
              </div>
            </div>
          </div> <!-- Modal Body -->
          
          <div class="modal-footer">
            <div class="form-actions">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Login <i class="icon-ok icon-white"></i></button>
            </div>
          </div> 
        </form>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</html>
