extend layout
block content
	if question
		include question.jade
	if submissions
		div.container
			for submission in submissions
				| #{submission.message}
				pre.prettyprint
					code
						| #{submission.code}
			
	if user
		include submit.html
