// Register Modal
script.
  var numClasses = 1;
  $(document).ready(
    function() {
      $(".nav.nav-tabs").on("click", "a", function(e){
        e.preventDefault();
        $(this).tab('show');
      });
      var addClassFunc = function() {
          $(this).attr('id', numClasses);
          $('#' + numClasses)[0].onclick = null;
          $(this).removeAttr('id');
          $(this).attr('data-toggle', 'tab');
          $(this).attr('href', '#' + numClasses);
          $(this)[0].innerHTML = '<input class="form-control" name="file-' + numClasses + '"></input>';
          $('ul.nav.nav-tabs').append('<li><a id="addClass" href="#' + numClasses + '", data-toggle="tab">+</a></li>');
          $('#content.tab-content').append('<div id="' + numClasses + '" class="tab-pane"><textarea id="sol-' + numClasses + '" name="' + numClasses + '"class="form-control solution"></textarea><div class="editor form-control" id="editor' + numClasses + '"></div></div>');
          addEditor();
          $('#addClass')[0].onclick = addClassFunc;
          $('#classes').val(numClasses + 1);
          numClasses++;
      }
      $('#solution').tabby();
      $('input,select,textarea').jqBootstrapValidation();
      $('#addClass')[0].onclick = addClassFunc;
  });

#registerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='registerModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
        h4#registerModalLabel.modal-title Register
        h5 Welcome to CodeBench! Enter your information below to take part in our community.
          
      // Register Form 
      form.form-horizontal(method='post', action='/register' novalidate)
        .modal-body
          
          // Name
          .control-group
            label.control-label(for='full_name') Full Name
            .controls
              input#fullname.form-control(name='full_name')

          // Username
          .control-group
            label.control-label(for='username') * Username
            .controls
              input#username.form-control(name='username', required='required')

          // Password 
          .control-group
            label.control-label(for='password') * Password
            .controls
              input#password.form-control(type='password', name='password', required='required')

          // Email 
          .control-group
            label.control-label(for='email') * Email address
            .controls
              input#email.form-control(type='email', name='email', required='required')
              p.help-block Email address we can contact you with.

          .control-group
            label.control-label(for='emailValidate') * Retype Email
            .controls
              input#emailValidate.form-control(type='email', name='emailValidate', required='required' data-validation-email-match='email' data-validation-email-message='Must match email address entered above.')

          // Legal 
          .control-group
            .controls
              label.checkbox
                input#terms-and-conditions(type='checkbox', name='terms-and-conditions', required='required', data-validation-required-message='You must agree to the terms and conditions')
                | I agree to the 
                a(href='terms.html') terms and conditions.

        // Footer
        .modal-footer
          .form-actions
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit')
              | Submit
              i.icon-ok.icon-white
