<!DOCTYPE html>
<html>
  
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="loginModalLabel">Sign In</h4>
        </div>
        
        <!-- Login Form -->
        <form class="form-horizontal" method="post" action="register" novalidate>
          <div class="modal-body">
            
            <!-- Email -->
            <div class="control-group">
              <label class="control-label" for="username">Email address</label>
              <div class="controls">
                <input type="email" name="email" id="email" required>
                <p class="help-block">Email address we can contact you with</p>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="username2">Verify Email</label>
              <div class="controls">
                <input type="email" data-validation-matches-match="email" data-validation-matches-message="Must match email address entered above" id="emailAgain" name="emailAgain">
              </div>
            </div>
            
            <!-- Password -->
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" name="password" id="password" required>
              </div>
            </div>
                    
            <!-- Legal -->
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" id="terms-and-conditions" name="terms-and-conditions" required data-validation-required-message="You must agree to the terms and conditions">
                  I agree to the <a href="terms.html">terms and conditions</a>
                </label>
                <p class="help-block"></p>
              </div>
            </div>
          </div> <!-- Modal Body -->
          
          <div class="modal-footer">
            <div class="form-actions">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Submit <i class="icon-ok icon-white"></i></button>
            </div>
          </div> 
        </form>
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</html>
