<!DOCTYPE html>
<html>
    <div class="container">
      <h1>Post a new answer.</h1>
      
      <!-- Submission Form -->
      <form class="form-horizontal" method="post" action="submitSubmission" novalidate>
        <div class="modal-body">
          
          <!-- Message -->
          <div class="control-group">
            <label class="control-label" for="response">Response</label>
            <div class="controls">
              <textarea id="response" rows="5" cols="150" required></textarea>
            </div>
          </div>
          
          <!-- Solution -->
          <div class="control-group">
            <label class="control-label" for="file">Solution</label>
            <div class="controls">
              <textarea name="file" id="file" required></textarea>
            </div>
          </div>
          
          <div class="modal-footer">
            <div class="form-actions">
              <button type="submit" class="btn btn-primary" >Submit <i class="icon-ok icon-white"></i></button>
            </div>
          </div>
      </form>
      
      </div>
</html>
